<h1>SVG and HBS</h1>
<p>First it's important to know about SVG xml namespace <a href="https://developer.mozilla.org/en-US/docs/Web/SVG/Namespaces_Crash_Course">MDN - Namespaces Crash Course</a></p>
<p>But with HBS, it knows about these namespaces and can append paths correcly and update the SVG XML namespace for us. If you're doing really detailed things or need much more controll than just text blobs you've got other options. You could checkout <a class="white-text" target="_blank" href="https://d3js.org/">D3</a> which does all this for you as well.  There's also the extremely granular vanilla JS flavor <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/API/Document/createElementNS">document.createElementNS("http://www.w3.org/2000/svg")</a></p>
<h4>tl;dr: hbs tripple curlies</h4>
{{ivy-codemirror 
    value='{{!-- inline-svg.js Component --}}
<svg width={{width}} height={{height}} viewBox={{viewBox}} preserveAspectRatio={{preserveAspectRatio}} xmlns="http://www.w3.org/2000/svg">
  {{{paths}}}
</svg>'
    options=(hash theme="solarized" lineNumbers=true mode="xml")
}}
